<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Distributed Hashcracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>501E6E5C1C1703C70068A44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501E6E6D1C1703C70068A44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501E6E781C1703C70068A44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
